# SPDX-FileCopyrightText: 2020 KUNBUS GmbH
# SPDX-License-Identifier: GPL-2.0-only

*.o
*.cmd
.tmp_versions/
compiletime.h
modules.order
piControl.ko
piControl.mod
piControl.mod.c
compile_commands.json
.cache/
result
result/
